body{
  background-image: linear-gradient(to right, #dedede, #dddddd, #dddddd, #dcdcdc, #dbdbdb, #d9d9d9, #d8d8d8, #d6d6d6, #d3d3d3, #cfcfcf, #cccccc, #c9c9c9);
}
.navbar{
  background-image: linear-gradient(to right, #454545, #48494a, #4b4d4e, #4d5152, #505555, #505556, #4f5656, #4f5657, #4c5357, #4b4f56, #4b4b53, #4d474f);
}
.navbar-brand{
  color: #E3E0F3;
  font-weight: bold;
}
.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

p.lead {
  font-size: 1rem !important;
  line-height: .5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}